<div class="content" role="main">

  <!-- Highlight Card -->
  <app-background></app-background>


  <!-- Log-in field -->
  <div class="mat-elevation-z20" id="container">
    <mat-card>

      <div class="panel panel-primary">
        <form class="log-in-form">
          <div>
            <div style="margin-bottom: 50px">
              <p>
                Willkommen im Projekt Anamnese System - Bitte loggen Sie sich ein
              </p>
              <!--              <p style="text-align: center">-->
              <!--                Kein Konto? Jetzt <a href="{{new_registration_path}}" class="pointer">registrieren</a>-->
              <!--              </p>-->
            </div>

            <!-- USERNAME FIELD -->
            <div class="input-position">
              <mat-form-field appearance="outline" class="log-in-form-field" id="userNameForm">
                <mat-label>Username:</mat-label>
                <input [(ngModel)]="username" id="username" matInput
                       name="username" placeholder="Username" required type="text">
                <mat-icon class="colorEdit" matSuffix>account_circle</mat-icon>
              </mat-form-field>
            </div>


            <!-- PASSWORD FIELD -->
            <div class="input-position">
              <mat-form-field appearance="outline" class="log-in-form-field" id="passwordForm">
                <mat-label>Password:</mat-label>
                <input [(ngModel)]="password" [type]="hidePassword ? 'password' : 'text'" autocomplete="off"
                       id="password" matInput name="password" placeholder="Password"
                       required>
                <mat-icon (click)="hidePassword = !hidePassword" class="colorEdit pointer" matSuffix>
                  {{ hidePassword ? 'visibility_off' : 'visibility' }}
                </mat-icon>
              </mat-form-field>
            </div>
            <div class="text-left pointer">
              <a href="{{reset_password_path}}" id="reset-password">Reset password</a>
            </div>


            <!-- LOG IN BUTTON -->
            <div class="input-position" style="margin-bottom: 65px">
              <button (click)="login()" [disabled]="!username || !password || isClicked" class="btn btn-primary button"
                      id="login-button"
                      mat-raised-button type="button">
                {{ isClicked ? 'Loading...' : 'Login' }}
              </button>
            </div>

          </div>
        </form>
      </div>

    </mat-card>
  </div>

</div>
