<app-header [title]="headerTitle"></app-header>

<mat-tab-group (selectedTabChange)="onTabClicked($event)" [selectedIndex]="tabIndex">

  <!-- PERSONAL -->
  <mat-tab>
    <ng-template mat-tab-label>
      <img alt="personal logo" class="material-icons" height="30" ngSrc="../../../assets/logos/personal.jpg"
           style="margin-right: 7px" viewBox="0 0 24 24" width="30">
      Personal
    </ng-template>
    <app-person-list *ngIf="tabIndex === 0" [currentPersonType]="personType[0]"></app-person-list>
  </mat-tab>

  <!-- PATIENTS -->
  <mat-tab>
    <ng-template mat-tab-label>
      <img alt="patient logo" class="material-icons" height="24" src="../../../assets/logos/patient-logo.png"
           style="margin-right: 7px" viewBox="0 0 24 24" width="24">
      Patienten
    </ng-template>
    <app-person-list *ngIf="tabIndex === 1" [currentPersonType]="personType[1]"></app-person-list>
  </mat-tab>

  <!-- DIAGNOSIS -->
  <mat-tab>
    <ng-template mat-tab-label>
      <img alt="diagnose logo" class="material-icons" height="24" src="../../../assets/logos/diagnose.jpg"
           style="margin-right: 7px" viewBox="0 0 24 24" width="24">
      Diagnose
    </ng-template>
    <app-diagnosis-list *ngIf="tabIndex === 2" [patientsList]="patientsList"></app-diagnosis-list>
  </mat-tab>

  <!-- Disease -->
  <mat-tab>
    <ng-template mat-tab-label>
      <img alt="disease logo" class="material-icons" height="24" src="../../../assets/logos/disease.png"
           style="margin-right: 7px" viewBox="0 0 24 24" width="24">
      Krankheiten
    </ng-template>
    <app-disease-list *ngIf="tabIndex === 3" [patientsList]="patientsList"></app-disease-list>
  </mat-tab>

  <!-- AllergieTypen -->
  <mat-tab>
    <ng-template mat-tab-label>
      <img alt="allergie logo" class="material-icons" height="24" src="../../../assets/logos/allergie.png"
           style="margin-right: 7px" viewBox="0 0 24 24" width="24">
      Allergien
    </ng-template>
    <app-allergy-list *ngIf="tabIndex === 4" [patientsList]="patientsList"></app-allergy-list>
  </mat-tab>

  <!-- MedicationInTake -->
  <mat-tab>
    <ng-template mat-tab-label>
      <img alt="medikamente logo" class="material-icons" height="24" src="../../../assets/logos/medikamente.png"
           style="margin-right: 7px" viewBox="0 0 24 24" width="24">
      Medikamente
    </ng-template>
    <app-medication-in-take-list *ngIf="tabIndex === 5" [patientsList]="patientsList"></app-medication-in-take-list>
  </mat-tab>


</mat-tab-group>

