<div class="content" role="main">

  <!-- Highlight Card -->
  <app-background></app-background>


  <!-- Log-in field -->
  <div class="mat-elevation-z20" id="container">
    <mat-card>

      <div class="panel panel-primary">
        <form class="log-in-form">
          <div>
            <div style="margin-bottom: 50px">
              <p style="text-align: center">
                ~ Reset password ~
              </p>
            </div>

            <!-- USERNAME FIELD -->
            <div class="input-position">
              <mat-form-field appearance="outline" class="log-in-form-field" id="userNameForm">
                <mat-label>Username:</mat-label>
                <input (ngModelChange)="onUserName($event)" [(ngModel)]="username" id="username" matInput
                       name="username" placeholder="Username" required type="text">
                <mat-icon class="colorEdit" matSuffix>account_circle</mat-icon>
              </mat-form-field>
            </div>


            <!-- SECURITY FIELD -->
            <div class="input-position" style="margin-top: -10px">
              <mat-form-field appearance="outline" class="log-in-form-field" id="secretQuestionForm">
                <mat-label>Secret question:</mat-label>
                <input [(ngModel)]="secretQuestion" autocomplete="off" disabled id="secretQuestion" matInput
                       name="secretQuestion" placeholder="Question" required type="text">
              </mat-form-field>
            </div>

            <div class="input-position" style="margin-top: -10px">
              <mat-form-field appearance="outline" class="log-in-form-field" id="answerForm">
                <mat-label>Answer:</mat-label>
                <input (ngModelChange)="onAnswer($event)" [(ngModel)]="answer" autocomplete="off"
                       id="answer" matInput
                       name="answer" placeholder="Answer" required type="text">
              </mat-form-field>
            </div>

            <!-- PASSWORD FIELD -->
            <div class="input-position" style="margin-top: -10px">
              <mat-form-field appearance="outline" class="log-in-form-field" id="newPasswordForm">
                <mat-label>New password:</mat-label>
                <input [(ngModel)]="newPassword" [disabled]="!answerCorrect" [type]="hidePassword ? 'password' : 'text'"
                       autocomplete="off"
                       id="newPassword" matInput name="newPassword"
                       placeholder="New password" required>
                <mat-icon (click)="hidePassword = !hidePassword" class="colorEdit pointer" matSuffix>
                  {{ hidePassword ? 'visibility_off' : 'visibility' }}
                </mat-icon>
              </mat-form-field>
            </div>

            <div class="text-left pointer" style="margin-top: -20px">
              <a href="{{login_path}}" id="reset-password">Zurrueck zu Login</a>
            </div>


            <!-- LOG IN BUTTON -->
            <div class="input-position" style="margin-bottom: 65px">
              <button (click)="confirmPwdReset()"
                      [disabled]="!username || !newPassword || !secretQuestion || !answer || isClicked"
                      class="btn btn-primary button" id="login-button"
                      mat-raised-button
                      type="button">
                {{ isClicked ? 'Reset password...' : 'Reset password' }}
              </button>
            </div>

          </div>
        </form>
      </div>

    </mat-card>
  </div>

</div>
