p {
  margin: 0;
  color: gray;
}

.spacer {
  flex: 1;
}

.content {
  margin: 30px auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}

b {
  font-family: Verdana, Geneva, sans-serif;
}

form {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-form-field {
  padding: unset;
}

div.input-position, p {
  margin-top: 20px;
}

div.input-position.mat-form-field, p {
  margin-top: 20px;
}

div.input-position.mat-form-field mat-form-field, p {
  outline: 0;
}

/*** ids ***/
#logo {
  width: 30%;
  margin-top: -2%;
}

#container {
  justify-content: center;
  align-items: center;
  width: 500px;
}

#loginButton {
  width: 225px;
}

#login-button {
  float: right;
}

#reset-password {
  font-size: 11px;
  position: absolute;
  margin-top: 8px;
  left: 110px;
}

/*** class ***/
.colorEdit {
  color: #337ab7;
}

.log-in-form-field {
  width: 100%;
}

.input-position {
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

