// @import '~@angular/material/prebuilt-themes/indigo-pink.css';
// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
// @import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
// @import '~@angular/material/prebuilt-themes/purple-green.css';
// @import '~@angular/material/theming';
// @import '~@angular/material/_theming';

@import 'theme';
@include mat-core();

//.mat-header-row {
//    background-color: mat-color($insp-app-primary, 100);
//}

//mat-table > .table-row-highlight {
//    background-color: mat-color($insp-app-primary, 50);
//}

.default-theme {
    @include angular-material-theme($insp-app-default-theme);
}

.yellow-theme {
    @include angular-material-theme($insp-app-yellow-theme);
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

.pointer {
    cursor: pointer;
}

.main-toolbar {
    background: transparent;
}

.breadcrumb-link {
    text-decoration: underline;
    font-weight: 500;
    color: mat-color($insp-app-primary);
    cursor: pointer;
}

mat-icon[disabled] {
    color: mat-color($insp-app-warn);
    filter: grayscale(100%);
    opacity: 0.26;
}

mat-card.breadcrumb-card {
    padding: 8px 16px;
}

.enabled-account {
    color: mat-color($insp-app-primary);
}

mat-icon.modal-close-icon {
    cursor: pointer;
    position: relative;
    float: right;
    right: -10px;
    top: -10px;
    height: 15px;
    width: 15px;
    font-size: 16px;
    // color: gray;
}

.warn {
  color: mat-color($insp-app-warn);
}

.mat-form-field.full-width {
    width: 100%;
}

a.icon {
    font-size: 10px;
    width: 10px;
    height: 10px;
    line-height: 10px;
    color: dimgray;
}

button.time-picker-button {
  margin-left: 8px;
}

/* Add application styles & imports to this file! */
@keyframes slideDown {
    0% {}

    100% {
        transform: translateY(20%);
    }
}


/* ----------------------------------------------
 * Generated by Animista on 2019-3-5 12:55:1
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-ver-top
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-ver-top {
    0% {
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }

    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }
}

@keyframes scale-up-ver-top {
    0% {
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }

    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }
}

@-webkit-keyframes scale-in-top {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        opacity: 1;
    }
}

@keyframes scale-in-top {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        opacity: 1;
    }
}

.scale-up-ver-top {
    -webkit-animation: scale-up-ver-top 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-ver-top 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.scale-in-top {
    -webkit-animation: scale-in-top 0.2s ease-out both;
    animation: scale-in-top 0.2s ease-out both;
}

.transition-none {
    transition: none;
}
