<div class="row" style="text-align: center">
  <h3>
    {{ modalTitle }}
  </h3>
</div>

<mat-divider style="margin-bottom: 20px"></mat-divider>


<form [formGroup]="diseaseFormGroup">

  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-6">
        <mat-label>Chirurgische Eingriffe?</mat-label>
        <br>
        <mat-button-toggle-group (change)="onUndergoneSurgery($event.value)"
                                 [value]="disease.undergoneSurgery ? 'true' : 'false'"
                                 appearance="legacy" aria-label="Font Style" name="undergoneSurgery">
          <mat-button-toggle value="true">Ja</mat-button-toggle>
          <mat-button-toggle value="false">Nein</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
  </div>

  <mat-form-field *ngIf="disease.undergoneSurgery"
                  style="width: 98%; margin-top: 10px; margin-bottom: 10px">
    <mat-label>Details zu chirurgischer Eingriffe</mat-label>
    <textarea formControlName="surgeriesDetailsCtrl" matInput placeholder="Details zum Op"
              type="text"></textarea>
  </mat-form-field>

  <mat-form-field style="width: 45%; margin-bottom: 10px">
    <mat-label>Patient</mat-label>
    <input (keyup)="applyPatientFilter($event.target)" [matAutocomplete]="patientAutoComplete"
           formControlName="patientennameCtrl" matInput placeholder="Patientenname" required>
    <mat-autocomplete #patientAutoComplete="matAutocomplete" [displayWith]="displayPatientAutoComplete">
      <mat-option *ngFor="let patient of patientsListFiltered" [value]="patient">
        <span>{{ patient.firstName }} {{ patient.lastName }}</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field style="width: 40%; margin-bottom: 10px">
    <mat-label>Add vorbestehende Krankheiten</mat-label>
    <input (keyup)="applyIllnessFilter($event.target)" [matAutocomplete]="preExistingIllnessesAutoComplete"
           formControlName="preExistingIllnessesCtrl"
           matInput placeholder="Vorbestehende Krankheiten">
    <mat-autocomplete #preExistingIllnessesAutoComplete="matAutocomplete" [displayWith]="displayIllnessAutoComplete">
      <mat-option *ngFor="let illness of illnessValuesFiltered" [value]="illness">
        <span>{{ illness.name }}</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <span>
      <button (click)="addPreExistingIllnesses()"
              [disabled]="!diseaseFormGroup.controls.preExistingIllnessesCtrl.value"
              color="primary" mat-raised-button>Add</button>
  </span>

  <div *ngIf="preExistingIllnessesList.length > 0" style="width: 45%">
    <mat-label>Vorbestehende Krankheiten:</mat-label>
    <ul *ngFor="let illness of preExistingIllnessesList; let i = index">
      <li>
        <label>{{ illness.name }} </label>
        <a (click)="removePreExistingIllnesses(i)"
           *ngIf="preExistingIllnessesList.length > 1"
           class="pointer" title="Remove material" tooltip>
          <i class="glyphicon glyphicon-remove-circle" style="color:red"></i>
        </a>
      </li>
    </ul>
  </div>

  <div style="text-align: right">
    <button (click)="onNoClick(false)" mat-button>Abbrechen</button>
    <button (click)="onSave()"
            [disabled]="!diseaseFormGroup.valid || searching" color="primary"
            mat-button>{{ !searching ? 'Bestätigen' : 'Bestätigen...' }}
    </button>
  </div>
</form>
