<mat-card>
  <table [dataSource]="diagnosisList" class="mat-elevation-z8" mat-table>

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="#">
      <th *matHeaderCellDef mat-header-cell style="width: 5%"> #</th>
      <td *matCellDef="let personIndex = index" mat-cell> {{ personIndex + 1 }}</td>
    </ng-container>

    <!-- examinationName Column -->
    <ng-container matColumnDef="Untersuchungsname">
      <th *matHeaderCellDef mat-header-cell style="width: 25%"> Untersuchungsname</th>
      <td *matCellDef="let diagnosis" mat-cell> {{ diagnosis.examinationName }}</td>
    </ng-container>

    <!-- examinationDate Column -->
    <ng-container matColumnDef="Datum">
      <th *matHeaderCellDef mat-header-cell style="width: 25%"> Datum</th>
      <td *matCellDef="let diagnosis" mat-cell> {{ diagnosis.examinationDate }}</td>
    </ng-container>

    <!-- bodyRegion Column -->
    <ng-container matColumnDef="Körperteil">
      <th *matHeaderCellDef mat-header-cell style="width: 25%"> Körperteil</th>
      <td *matCellDef="let diagnosis" mat-cell> {{ diagnosis.bodyRegion }}</td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>
</mat-card>





