<app-header [title]="headerTitle"></app-header>

<div class="content" role="main">

  <!-- Highlight Card -->
  <app-background></app-background>

  <!-- Resources -->
  <h2>Ressourcen</h2>
  <p>Was möchten Sie als nächstes tun???</p>


  <div class="card-container" *ngIf="currentUser$ | async as currentUser; else loading">

    <a *ngIf="!currentUser.recorded" class="card" disabled="true" rel="noopener"
       routerLink="{{aufnahme_path}}" style="margin-right: 10px; margin-bottom: 50px">
      <img alt="new-aufnahme logo" class="material-icons" height="24" ngSrc="../../../assets/logos/new-aufnahme.jpg"
           width="24">

      <span>New aufnahme</span>

      <svg class="material-icons" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/>
      </svg>
    </a>

    <a (click)="openMyProfilModal()" class="card" rel="noopener"
       style="margin-right: 10px; margin-bottom: 50px">
      <mat-icon>person</mat-icon>

      <span>Mein Profil</span>

      <svg class="material-icons" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/>
      </svg>
    </a>

    <a class="card" href="https://www.google.com/search?client=avast&q=Notdienstapotheke" rel="noopener"
       style="margin-right: 10px" target="_blank">
      <img alt="apotheke logo" class="material-icons" height="24" ngSrc="../../../assets/logos/apotheke.png"
           width="24">

      <span>Notdienstapotheke</span>

      <svg class="material-icons" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/>
      </svg>
    </a>
  </div>


  <div class="card-container" *ngIf="currentUser$ | async as currentUser; else loading">

    <a (click)="navTo('diagnose')" *ngIf="currentUser.recorded" class="card"
       routerLink="{{patient_info_view_path}}" style="margin-right: 10px; margin-bottom: 50px">
      <img alt="diagnose logo" class="material-icons" height="24" ngSrc="../../../assets/logos/diagnose.jpg"
           width="24">

      <span>Meine Diagnose</span>

      <svg class="material-icons" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/>
      </svg>
    </a>

    <a (click)="navTo('krankheiten')" *ngIf="currentUser.recorded" class="card"
       routerLink="{{patient_info_view_path}}" style="margin-right: 10px; margin-bottom: 50px">
      <img alt="disease logo" class="material-icons" height="24" ngSrc="../../../assets/logos/disease.png"
           width="24">

      <span>Meine Krankheiten</span>

      <svg class="material-icons" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/>
      </svg>
    </a>

    <a (click)="navTo('allergien')" *ngIf="currentUser.recorded" class="card"
       routerLink="{{patient_info_view_path}}" style="margin-right: 10px; margin-bottom: 50px">
      <img alt="allergie logo" class="material-icons" height="24" ngSrc="../../../assets/logos/allergie.png"
           width="24">

      <span>Meine Allergien</span>

      <svg class="material-icons" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/>
      </svg>
    </a>

    <a (click)="navTo('medikamenten')" *ngIf="currentUser.recorded" class="card"
       routerLink="{{patient_info_view_path}}" style="margin-right: 10px; margin-bottom: 50px">
      <img alt="medikamente logo" class="material-icons" height="24" ngSrc="../../../assets/logos/medikamente.png"
           width="24">

      <span>Meine Medikamenten</span>

      <svg class="material-icons" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/>
      </svg>
    </a>

  </div>

  <ng-template #loading>
    <p>Daten werden geladen...</p>
  </ng-template>

</div>
