<mat-card>
  <table [dataSource]="personsList$ | async" class="mat-elevation-z8" mat-table>

    <!-- Index Column -->
    <ng-container [matColumnDef]=displayedColumns[0]>
      <th *matHeaderCellDef mat-header-cell> {{ displayedColumns[0] }}</th>
      <td *matCellDef="let personIndex = index" mat-cell> {{ personIndex + 1 }}</td>
    </ng-container>

    <!-- First Name Column -->
    <ng-container [matColumnDef]=displayedColumns[1]>
      <th *matHeaderCellDef mat-header-cell> {{ displayedColumns[1] }}</th>
      <td *matCellDef="let patient" mat-cell> {{ patient.firstName }}</td>
    </ng-container>

    <!-- Last Name Column -->
    <ng-container [matColumnDef]=displayedColumns[2]>
      <th *matHeaderCellDef mat-header-cell> {{ displayedColumns[2] }}</th>
      <td *matCellDef="let patient" mat-cell> {{ patient.lastName }}</td>
    </ng-container>

    <!-- User Name Column -->
    <ng-container [matColumnDef]=displayedColumns[3]>
      <th *matHeaderCellDef mat-header-cell> {{ displayedColumns[3] }}</th>
      <td *matCellDef="let patient" mat-cell> {{ patient.userName }}</td>
    </ng-container>

    <!-- Actions Buttons Column -->
    <ng-container [matColumnDef]=displayedColumns[4]>
      <th *matHeaderCellDef mat-header-cell style="text-align: right">
        <button (click)="onAddNewPerson()"
                [matTooltip]="'Einen neuen ' + currentPersonType.toUpperCase() + ' hinzufuegen'"
                color="primary" id="add-button"
                mat-mini-fab>
          <mat-icon class="example-tab-icon">add</mat-icon>
        </button>
      </th>

      <td *matCellDef="let patient" mat-cell style="text-align: right">

        <button (click)="onPersonInfo(patient)"
                [matTooltip]=" patient.type + '-infos ansehen'"
                id="person-view-button"
                mat-icon-button>
          <mat-icon class="example-tab-icon">remove_red_eye</mat-icon>
        </button>

        <button (click)="onDeletePatient(patient)" color="warn" id="delete-button"
                mat-icon-button matTooltip="delete patient">
          <mat-icon class="example-tab-icon">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>
</mat-card>




