/* You can add global styles to this file, and also import other style files */

@import "~node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.spacer5 {
  margin-top: 5px;
}

.spacer10 {
  margin-top: 10px;
}

.spacer30 {
  margin-top: 100px;
}

.button-row button {
  margin-right: 5px;
}
